.1stSquare {
	background-color: #eee;
	border-radius: 10px;
}

.2ndSquare {
	background-color: #eee;
	border-radius: 10px;

}

.3rdSquare {
	background-color: #eee;
	border-radius: 10px;

}

.4thSquare {
	background-color: #eee;
	border-radius: 10px;	
}

.noLogo {
	width: 80px;

}